<!DOCTYPE html>
<html lang="en">
<head>
    <title>OpenBook</title>
</head>
<body>

{% if "user_id" in session %}
        <a href="/logout">Logout</a>
        <a href="/feed">News Feed</a>
        <a href="/new_draft">New Draft</a>
        <a href="/profile/{{ session['user_id'] }}">Profile</a>


{% else %}
    <a href="/login">Login</a>
    <a href="/register">Register!</a>

{% endif %}

<hr>

{% for flash in get_flashed_messages() %}

{% endfor %}

{% block content %} 
{% endblock %}

</body>
</html> 
