<!DOCTYPE html>
<html lang="en">
<head>
    <title>OpenBook</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>


{% if "user_id" in session %}
        <a href="/logout">Logout</a>
        <a href="/feed">News Feed</a>
        <a href="/profile/{{ session['user_id'] }}">Profile</a>

{% endif %}

<hr>

{% with messages = get_flashed_messages() %}
{% for message in messages %}

    {{ message }}

{% endfor %}
{% endwith %}


{% block content %} 
{% endblock %}

</body>
</html> 
