
{% extends 'base.html' %}
{% block content %}

<script src="/static/drafts.js"></script>


<!-- Check to see if in drafts; if not, save -->
<body>
{% if session.get('user_id') %} <!-- Query for draft in drafts -->
    <form action="/save_draft" method="POST" id="save_draft">
    <div id="editContainer">

        <div>
            <label for="title_field"> Title </label>
            <p><input name="title" id="title_field" type="text" class="draft-control"></p>
        </div>

        <div>
            <label for="draft_field"> Draft </label>
            <p><input name="draft" id="draft_field" type="text" class="draft-control"></p>
        </div>

        <div>
            <label for="id_field"> id </label>
            <p><input name="id" id="id_field" type="text" class="draft-control"></p>
        </div>
    </div>

        <!-- Save button -->
            <input id="save_btn" type="submit" name="Save">
    </form>
{% endif %}
       
 <style>
 #previousDrafts {
    border: 1px solid black;
    margin-bottom: 10px;
 }
</style>
<p>List of previous drafts</p>
<div id="previousDrafts">
    Previous Drafts
</div>


</body>

{% endblock %}

