
{% extends 'base.html' %}
{% block content %}

<script src="/static/drafts.js"></script>

<!-- Check to see if in drafts; if not, save -->

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-7">
                {% if session.get('user_id') %}
                <form id="save_publish" action="/publish" role="form" method="POST">
                    <div class="pre-pub-group">
                        <label for="title_field"></label>
                            <textarea name="title" id="title_field" class="draft-control" rows="1"></textarea>
                        <label for="draft_field"></label>
                            <textarea name="draft" id="draft_field" type="text" class="draft-control"></textarea>
                        <label for="id_field"></label>
                            <input name="id" id="id_field" type="hidden" class="draft-control">
                    </div>
                    <div>
                <input class="btn-display" id="save_btn" name="save_btn" type="submit" value="Save">
            <input class="btn-display" id="publish_btn" name="publish_btn" type="submit" value="Publish">
        </div>
    </div>
</form>

{% endif %}

<div class="col-md-12 col-md-5">
    <h1><p>Saved Drafts</p></h1>
        <div id="previousDrafts"></div>
    </div>
</div>

</body>

{% endblock %}

