{% extends 'base.html' %}
{% block content %}

<body>

<div class="container" id="feed">
  <div class="row">
    <div class="col-xs-12 col-md-2">
      <img src="/static/images/jumping_girl.jpg" class="img-thumbnail img-responsive" width="304" height="236">
    </div>
      <div class="panel panel-default">
          {% for pub in published_drafts %}
          <div class="panel-heading">
            <h3 class="panel-title">{{ pub.title }}</h3>
          </div>
          <div>
          <h5 class="panel-body">{{ pub.draft }}</h5>
        </div>
        {% endfor %}
</div>

{% endblock %}
</body>



