{% extends 'base.html' %}
{% block content %}

<div class="authentication">
    <div class="jumbotron" id="jumbo-box">
        <div class="auth-box">
            <h1 class="login-labels">OpenBook</h1>
                <form action="/login" method="POST" class="align-center">
                    <h3 class="panel-title">Log In</h3>
                    <div id="email">
                        <label class="login-labels">Email: 
                            <input type="text" name="email" required></label>
                    </div>
                    <div id="password">
                <label class="login-labels">Password:
            <input type="text" name="password" required></label>
            </div>
        <div id="login">
            <input class="btn btn-primary btn-lg" type="submit" value="Submit" role="button">
            </div>
                </form>
                    <div id="register">
                        <h4><a class="btn btn-primary btn-lg" href='/register' role="button">Not a member? Sign up now!</a></h4>
                </div>
                

            </div>
        </div>
    </div>



{% endblock %}

