{% extends 'base.html' %}
{% block content %}

<div class="authentication">
    <div class="jumbotron" id="jumbo-box">
        <div class="auth-box">
            <h1 class="login-labels">OpenBook</h1>
                <form action="/login" method="POST" class="align-center">
                    <p class="panel-title">Log In</p>
                    <div id="email">
                            <input type="text" name="email" placeholder="Email" required>
                    </div>
                    <div id="password">
            <input type="text" name="password" placeholder="Password" required>
            </div>
        <div id="login"><input class="btn btn-primary btn-sm" type="submit" value="Submit" role="button"></div>
                </form>
                    <div id="register">
                        <p><a href="/register">Not a member? Sign up Here</a><p>
                </div>
                

            </div>
        </div>
    </div>




{% endblock %}

