{% extends 'base.html' %}
{% block content %}

<script src="https://code.jquery.com/jquery.js"></script>

<body>
    <form id="new_book" method="POST" action="/working_draft">
    <div>
        <label for="title_field"> Title </label>
        <input id="title_field" type="text" name="title" required class="draft-control">
    </div>

    <div>
        <label for="draft_field"> Write Draft </label>
        <input id="draft_field" type="text" name="new_draft" required class="draft-control">
    </div>
    <div>
        <button id="save"> Save Draft </button>
    </div>
    <div>
        <button id="publish"> Publish </button>
        <span id="publish-draft"></span>
    </div>

        <script>
        // function publishDoc(evt) {
        $('.draft-control').ready(function(){
            $('#publish').click(function){
            $.post('/publish_book/publish',
            {
                title: $('#title_field').val();
                new_draft: $('#draft_field').val();
            },

            function (data) {
            $('#publish-draft').text('Your draft is now published!');
            // $('publish').attr('disabled', true);

            });
        });
    });
// }

        // $('.draft-control').on('click', publishDoc);

</script>
</form>
</body>

{% endblock %}



