

@app.route('/working_draft', methods=['POST'])
def working_draft():
    """ Saves current draft to database without refreshing the page. """

    title = request.form["title"]
    draft = request.form["new_draft"]
    user_id = session["user_id"]

    db.session.add(saved_draft)
    db.session.commit()

    return jsonify({'save':'success'})

@app.route('/publish_book', methods=['GET'])
def get_draft():
    """ Grabs current draft to publish """

    return render_template("new_draft.html")

@app.route('/publish_book', methods=['POST'])
def publish_draft():

    title = request.form["title"]
    draft = request.form["new_draft"]
    user_id = session["user_id"]

    db.session.add(saved_draft)
    db.session.commit()


    return redirect('/dashboard')



