
{% extends 'base.html' %}
{% block content %}

<script src="/app/static/drafts.js"></script>

<style>
#draft-title {
    text-align: center;
    font-family: 'Bangers', cursive;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

</style>

<!-- Check to see if in drafts; if not, save -->

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-7">
                {% if session.get('user_id') %}
                <form id="save_publish" action="/publish" role="form" method="POST">
                    <div class="pre-pub-group">
                        <label for="title_field"></label>
                            <textarea name="title" id="title_field" class="draft-control" rows="1"></textarea>
                        <label for="draft_field"></label>
                            <textarea name="draft" id="draft_field" rows="20" class="draft-control"></textarea>
                        <label for="id_field"></label>
                            <input name="id" id="id_field" type="hidden" class="draft-control">
                    </div>
                    <div>
                <input class="btn-display" id="save_btn" name="save_btn" type="submit" value="Save">
            <input class="btn-display" id="publish_btn" name="publish_btn" type="submit" value="Publish">
        </div>
    </div>
</form>

{% endif %}

<div class="col-md-12 col-md-5">
    <div class="well">
        <h2><p>Saved Drafts</p></h2>
            <div id="previousDrafts"></div>
        </div>
    </div>
</div>
</body>

{% endblock %}

